<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${brand.id}"  type="hidden">
							<input type="hidden" id="uuid" name="uuid" th:value="${brand.uuid}" class="form-control">
							<div class="form-group">	
								<label class="col-sm-3 control-label">创始人：</label>
								<div class="col-sm-8">
									<input id="founder" name="founder" th:value="${brand.founder}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">公司：</label>
								<div class="col-sm-8">
									<input id="company" name="company" th:value="${brand.company}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">详细描述：</label>
								<div class="col-sm-8">
									<input id="direction" name="direction" th:value="${brand.direction}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">图片：</label>
								<div class="col-sm-8">
									<input id="imgurl" name="imgurl" th:value="${brand.imgurl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">中文名：</label>
								<div class="col-sm-8">
									<input id="cname" name="cname" th:value="${brand.cname}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">英文名：</label>
								<div class="col-sm-8">
									<input id="ename" name="ename" th:value="${brand.ename}" class="form-control" type="text">
								</div>
							</div>
							<input id="created" name="created" th:value="${brand.created}" class="form-control" type="hidden">


							<input id="modified" name="modified" th:value="${brand.modified}" class="form-control" type="hidden">

							<input id="gtmCreate" name="gtmCreate" th:value="${brand.gtmCreate}" class="form-control" type="hidden">

							<input id="gtmModified" name="gtmModified" th:value="${brand.gtmModified}" class="form-control" type="hidden">


							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/xcx/brand/edit.js">
	</script>
</body>
</html>
