<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<!--<div class="form-group">
								<label class="col-sm-3 control-label">uuid：</label>
								<div class="col-sm-8">
									<input id="uuid" name="uuid" class="form-control" type="text">
								</div>
							</div>-->
														<div class="form-group">	
								<label class="col-sm-3 control-label">中文名称：</label>
								<div class="col-sm-8">
									<input id="cname" name="cname" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">英文名字：</label>
								<div class="col-sm-8">
									<input id="ename" name="ename" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">价格：</label>
								<div class="col-sm-8">
									<input id="price" name="price" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">编号：</label>
								<div class="col-sm-8">
									<input id="number" name="number" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">材质：</label>
								<div class="col-sm-8">
									<input id="quality" name="quality" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">材料：</label>
								<div class="col-sm-8">
									<input id="material" name="material" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">详细描述：</label>
								<div class="col-sm-8">
									<input id="describe" name="describe" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">类型/款式：</label>
								<div class="col-sm-8">
									<input id="type" name="type" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">系列：</label>
								<div class="col-sm-8">
									<input id="series" name="series" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">特点：</label>
								<div class="col-sm-8">
									<input id="characteristic" name="characteristic" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">上市时间：</label>
								<div class="col-sm-8">
									<input id="market" name="market" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">颜色：</label>
								<div class="col-sm-8">
									<input id="colour" name="colour" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">其他：</label>
								<div class="col-sm-8">
									<input id="others" name="others" class="form-control" type="text">
								</div>
							</div>
														<!--<div class="form-group">
								<label class="col-sm-3 control-label">创建人id：</label>
								<div class="col-sm-8">
									<input id="created" name="created" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">最近修改人id：</label>
								<div class="col-sm-8">
									<input id="modified" name="modified" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="gtmCreate" name="gtmCreate" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="gtmModified" name="gtmModified" class="form-control" type="text">
								</div>
							</div>-->
														<!--<div class="form-group">
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="status" name="status" class="form-control" type="text">
								</div>
							</div>-->
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/xcx/goods/add.js">
	</script>
</body>
</html>
