<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${goods.id}"  type="hidden">

							<input type="hidden" id="uuid" name="uuid" th:value="${goods.uuid}" class="form-control">

														<div class="form-group">	
								<label class="col-sm-3 control-label">中文名称：</label>
								<div class="col-sm-8">
									<input id="cname" name="cname" th:value="${goods.cname}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">英文名字：</label>
								<div class="col-sm-8">
									<input id="ename" name="ename" th:value="${goods.ename}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">价格：</label>
								<div class="col-sm-8">
									<input id="price" name="price" th:value="${goods.price}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">编号：</label>
								<div class="col-sm-8">
									<input id="number" name="number" th:value="${goods.number}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">材质：</label>
								<div class="col-sm-8">
									<input id="quality" name="quality" th:value="${goods.quality}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">材料：</label>
								<div class="col-sm-8">
									<input id="material" name="material" th:value="${goods.material}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">详细描述：</label>
								<div class="col-sm-8">
									<input id="describe" name="describe" th:value="${goods.describe}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">品牌：</label>
								<div class="col-sm-8">
									<!--<input  id="brandUuid" name="brandUuid" class="form-control" type="text">-->
									<select class="form-control" th:value="${goods.brandUuid}" id="brandUuid" name="brandUuid" >
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">系列：</label>
								<div class="col-sm-8">
									<!--<input id="seriesUuid" name="seriesUuid" class="form-control" type="text">-->
									<select class="form-control"  th:value="${goods.seriesUuid}"  id="seriesUuid" name="seriesUuid" >
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">类型/款式：</label>
								<div class="col-sm-8">
									<select class="form-control" th:value="${goods.type}" id="type" name="type"  >
									</select>

								</div>
							</div>
												<!--		<div class="form-group">
								<label class="col-sm-3 control-label">类型/款式：</label>
								<div class="col-sm-8">
									<input id="type" name="type" th:value="${goods.type}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">系列：</label>
								<div class="col-sm-8">
									<input id="series" name="series" th:value="${goods.series}" class="form-control" type="text">
								</div>
							</div>-->
														<div class="form-group">	
								<label class="col-sm-3 control-label">特点：</label>
								<div class="col-sm-8">
									<input id="characteristic" name="characteristic" th:value="${goods.characteristic}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">上市时间：</label>
								<div class="col-sm-8">
									<input id="market" name="market" th:value="${goods.market}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">颜色：</label>
								<div class="col-sm-8">
									<input id="colour" name="colour" th:value="${goods.colour}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">其他：</label>
								<div class="col-sm-8">
									<input id="others" name="others" th:value="${goods.others}" class="form-control" type="text">
								</div>


									<input id="created" name="created" th:value="${goods.created}" class="form-control" type="hidden">
									<input id="brand" name="brand" th:value="${goods.brand}" class="form-control" type="hidden">
									<input id="series" name="series" th:value="${goods.series}" class="form-control" type="hidden">

									<input id="modified" name="modified" th:value="${goods.modified}" class="form-control" type="hidden">

									<input id="gtmCreate" name="gtmCreate" th:value="${goods.gtmCreate}" class="form-control" type="hidden">

									<input id="gtmModified" name="gtmModified" th:value="${goods.gtmModified}" class="form-control" type="hidden">

														<div class="form-group">	
								<label class="col-sm-3 control-label">状态：</label>
								<div class="col-sm-8">
									<input id="status" name="status" th:value="${goods.status}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<a class="btn btn-default waves-effect waves-light"
									   onclick="returnList()">返回列表</a>
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/xcx/goods/edit.js">
	</script>
</body>
</html>
